body {
    background-color: #8BA1BB;
    font-family: Arial;
    text-align: center;
}
p.categorie {
    background-color:black;
    color:white;
    padding: 10px 18px;
    margin-bottom: 0px;
    display: inline-block;
    font-weight: bold;
}
.centre {
    text-align: center;
    width: 100%
}
div.contenu{
    background-color: white;
    box-shadow: 0px 0px 5px 5px grey;
    margin: 0px 8% 50px 8%;
    padding: 6%;
    min-with: 350px;
}
h1{
    text-align: center;

}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.description{
    text-align: center;
}
div.categorie{
    margin-bottom: -20px;
    margin-top: 10px;
}
div.separateur{
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 100px;
    background-color: black;
}
.image1{
    display: block
    width: 100%;
}
table.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 80px;
}
.info{
    position: relative;
}
table.info td {
    text-align: center;
    font-size: 13px;
    vertical-align: top;
}
table.info th {
    text-align: center;
    font-size: 16px;
    vertical-align: bottom;
}
img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
}

div.colonne1{
    display: inline-block;
    margin-right: 10%;
}

div.colonne2{
    float: right;

}
div.colonne{
    width: 45%;
    margin-top: 20px;
    text-align: left;
}
div.colonne h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    border-bottom: 5px solid;
    border-color: #6C829DC0;
    font-family: Arial;
    padding-bottom: 5px;
}

div.separateur2{
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #6C829DC0;
}

div.ingredients p{
    text-align: center;
    border: 1px solid ;
    font-size: 14px;
    border-color: lightgray;
    padding: 8px 0px;
    margin-top: 1px;
    margin-bottom: 0;
}

table.preparation p.numero{
    background-color:  #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

* {
    overflow: auto;
}